/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --blue: #3466c8;
  --violet: #262139;
  --primary: white;
  --green: #4caf50;
  --secondary: #1f2024;
}
body {
  /* background-color: aqua; */
  width: 100%;
  height: 100vh;
  background: url("images/background.png"), rgba(38, 33, 57, 0.2);
  background-size: contain;
  background-color: var(--violet);
}
.main {
  width: 100%;
  height: 100%;
}
.nav {
  width: fill;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background: transparent;
  padding: 24px 120px;
}
.meta-text {
  color: var(--primary);
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 56px;
}
.steam-text {
  color: var(--blue);
}
dropdown {
  height: 20px;
  display: inline-block;
}
dropdown label,
dropdown ul li {
  font-family: "inter", sans-serif;
  display: block;
  font-size: 14px;
  width: 90px;
  background: transparent;
  padding: 2px 2px;
}
dropdown label:hover,
dropdown ul li:hover {
  cursor: pointer;
}
dropdown label {
  color: white;
  position: relative;
  z-index: 2;
}
dropdown input {
  display: none;
}
dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  background-color: white;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label {
  background: #ffffff;
  color: var(--secondary);
}

dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Chrome and Safari */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
}
#switch {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  height: 60px;
}

#switch > img {
  position: relative;
  top: -48px;
  left: 12px;
  pointer-events: none;
}
#sun-img {
  top: -46px;
  left: 26px;
}
input.check-toggle-round-flat:checked ~ .off {
  background: rgba(255, 255, 255, 0.1);
}

input.check-toggle-round-flat:checked ~ .on {
  color: var(--blue);
}

#switch > img {
  width: 32px;
}

.check-toggle {
  display: none;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-controls {
  display: flex;
  align-items: center;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 104px;
  height: 55px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background: rgba(255, 255, 255, 0.1);
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 50px;
  height: 50px;
  background-color: var(--blue);
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 50px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 50px;
}

.section {
  background: red;
  display: flex;
  color: var(--primary);
}
.left {
  background-color: #1f2024;
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right {
  height: 200px;
  width: 50%;
  background-color: #3466c8;
}
.left-numbers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-numbers > h5 {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  line-height: 29px;
  width: 90px;
  height: 30px;
  padding: 7px 5px;
  background-color: var(--blue);
  border-radius: 30px;
}
.left-numbers > p {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  margin-left: 8px;
}
.left > h2 {
  display: block;
}
