/** @format */

* {
  margin: 0;
  padding: 0;
}
:root {
  --blue: #3466c8;
  --violet: #262139;
  --primary: white;
  --green: #4caf50;
  --secondary: #1f2024;
  --card-blur-primary: rgba(188, 182, 221, 0.1);
  --card-blur-secondary: rgba(16, 14, 29, 0.1);
}
body {
  width: 100%;
  height: 100vh;
  background: url("images/background.png"), rgba(38, 33, 57, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-color: var(--violet);
  cursor: default;
  transition: all 0.3s;
}
.main {
  width: 100%;
  height: 100%;
}
.nav {
  width: calc(100% - 7.5rem - 7.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8%;
  background: transparent;
  padding: 1.5rem 7.5rem;
}
.meta-text {
  transition: all 0.3s;
  color: var(--primary);
  font-family: "oswald", sans-serif;
  font-size: 2.375rem;
  font-weight: 500;
  font-style: normal;
  line-height: 3.5rem;
}
.steam-text {
  color: var(--blue);
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--primary);
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.dropdown .text {
  display: flex;
  align-items: center;
}
.dropdown .hide-show {
  display: none;
  /* display: flex; */
  position: relative;
  flex-direction: column;
  align-items: center;
  animation: in 0.5s;
}
.animate {
  transition: all 0.3s;
}
#switch {
  position: relative;
  display: inline-block;
  margin: 0 0.625rem;
  height: 3.75rem;
}
#switch #moon {
  color: white;
  position: relative;
  top: 1.0625rem;
  left: 1rem;
  font-size: 1.375rem;
  z-index: 1;
}
#switch #sun {
  color: white;
  position: relative;
  top: 1rem;
  font-size: 1.375rem;
  left: 2.5rem;
  z-index: 1;
}

input.check-toggle-round-flat:checked ~ .off {
  background: rgba(255, 255, 255, 0.1);
}

input.check-toggle-round-flat:checked ~ .on {
  color: var(--blue);
}

.check-toggle {
  display: none;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-controls {
  display: flex;
  align-items: center;
}

input.check-toggle-round-flat + label {
  padding: 0.125rem;
  width: 6.5rem;
  height: 3.4375rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3.75rem;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 0.125rem;
  left: 0.125rem;
  bottom: 0.125rem;
  right: 0.125rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3.75rem;
}
input.check-toggle-round-flat + label:after {
  top: 0.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--blue);
  border-radius: 3.125rem;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 3.125rem;
}

.section {
  display: flex;
  color: var(--primary);
  height: calc(92% - 3rem);
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}
.left-numbers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-numbers > #h5 {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  min-width: 5.625rem;
  height: 1.875rem;
  padding: 0.4375rem 0.3125rem;
  background-color: var(--blue);
  border-radius: 1.875rem;
}
.left-numbers > #p {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.125rem;
  margin-left: 0.5rem;
}
.left-container > #h2 {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.75rem;
  line-height: 2.75rem;
  margin: 0.9375rem;
}
.left-container {
  width: 80%;
  max-width: 32rem;
}
.left-container > #p {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  margin: 0.9375rem 0px;
}
.left-container-icons {
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  width: 8.75rem;
}
.left-container-icons > iconify-icon {
  color: var(--primary);
  font-size: 1.875rem;
  cursor: pointer;
}
.blur-1 {
  background: var(--blue);
  filter: blur(272px);
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: -300px;
  left: -300px;
  z-index: -1;
}
.blur-2 {
  background: var(--blue);
  filter: blur(272px);
  width: 340px;
  height: 340px;
  position: absolute;
  top: 180px;
  right: -130px;
  z-index: -99999;
}
.card {
  width: 60%;
  min-height: 28.75rem;
  min-width: 32rem;
  height: calc(85% - 3.75rem);
  background: var(--card-blur-primary);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1.5rem;
  padding: 1.875rem;
  margin-top: 2.5rem;
}
.card-header {
  display: flex;
  width: 100%;
  align-items: center;
  height: 10%;
}
.card-header > iconify-icon {
  color: var(--primary);
  font-size: 2rem;
}
.card-header-text {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 1.25rem;
}
.card-sections {
  width: 100%;
  /* height: 500px;d */
  height: calc(90%);
}
.card-section-1 {
  opacity: 1;
  position: relative;
  display: flex;
  /* display: none; */
  flex-direction: column;
  height: 100%;
  animation: in 1s;
}
.card-section-1 input {
  padding: 1.125rem 2rem;
  border-radius: 1rem;
  border: none;
  font-family: "inter", sans-serif;
  color: var(--primary);
  background-color: var(--secondary);
  font-weight: 700;
  width: 80%;
}
.card-section-1 form {
  display: flex;
  background-color: var(--secondary);
  border-radius: 1rem;
  width: 100%;
  align-items: center;
}
.tooltip {
  cursor: pointer;
  z-index: 10;
}
.tooltip > iconify-icon {
  cursor: pointer;
}

.tooltip .top {
  height: 40px;
  width: 120px;
  position: absolute;
  display: none;
  top: -4rem;
  right: -3rem;
}

.card-section-1 form > input:focus {
  outline: none;
}
.card-section-1 form > iconify-icon {
  margin-right: 2rem;
  color: var(--primary);
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 2;
}

.card-section-1-time {
  height: 2.5rem;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin: 1rem 0px;
}
.card-section-1-time > iconify-icon {
  margin-right: 0.9375rem;
  font-size: 1.5rem;
  color: var(--primary);
}
.card-section-1-time .texts {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--primary);
}
.card-section-1 .check-text {
  margin-top: 0.25rem;
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
}
.check-text-prices {
  display: flex;
  width: 100%;
  margin-top: 1.875rem;
}
.check-text-prices-left {
  width: 30%;
}
.check-text-prices .sum {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary);
  opacity: 0.5;
}
.check-text-prices-left > .price {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 2.375rem;
  color: var(--primary);
}
.check-text-prices-right > .price {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  color: var(--primary);
  line-height: 3rem;
}
.check-text-prices-right {
  width: 70%;
}
.card-section-1 .submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
.card-section-1 .submit > .texts {
  width: 55%;
  text-align: center;
  color: var(--primary);
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
  margin-bottom: 0.625rem;
}
.card-section-1 .submit > button {
  width: 100%;
  border-radius: 1rem;
  height: 3.25rem;
  background-color: var(--blue);
  border: none;
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1.125;
  color: var(--primary);
  cursor: pointer;
}
.card-section-2 {
  position: relative;
  height: 100%;
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  animation: in 1s;
}
.card-section-2 > iconify-icon {
  font-size: 8.75rem;
  font-weight: 200;
  color: var(--primary);
  animation: load 1s;
  animation-iteration-count: infinite;
}
.card-section-3 {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 100%;
  font-family: "inter", sans-serif;
  animation: in 1s;
}
.card-detail-headline {
  text-align: center;
}
.card-input-visa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.875rem;
  padding: 0rem 1rem;
  height: 4rem;
  background: rgba(0, 0, 0, 0.1);

  border-radius: 0.5rem;
}
.visa-logo {
}
.visa-logo img {
  width: 5rem;
}
.visa-number {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
}
.copy-icon {
  display: flex;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}
.copy-icon > iconify-icon {
  font-size: 1.5rem;
}
.card-steam-info {
  text-align: center;
}
.card-overall {
  text-align: center;
}
.card-overall h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 7.5625rem;
}
.card-overall p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  opacity: 0.5;
}
.card-overall h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 7.5625rem;
}
.card-button {
  height: 4.1875rem;
  border-radius: 1rem;
  border: none;
  gap: 0.625rem;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #ffffff;
  background: #4caf50;
  margin-top: auto;
}

.card-section-4 {
  position: relative;
  opacity: 0;
  display: none;
  height: 100%;
  flex-direction: column;
  cursor: default;
  animation: in 1s;
}
.card-section-4 > iconify-icon {
  font-size: 3.75rem;
  color: var(--green);
}
.card-section-4 .texts {
  margin-top: 1.875rem;
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 2.375rem;
}
.card-section-4 .texts-sub {
  margin-top: 1.875rem;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}
.card-section-4 .btn {
  min-width: 5rem;
  width: 35%;
  border-radius: 1rem;
  height: 3.125rem;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  cursor: pointer;
}
.card-section-4 .btn > iconify-icon {
  font-size: 1.25rem;
  color: var(--primary);
}
.card-section-4 .btn > .texts {
  margin: 0;
  color: var(--primary);
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.slider {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  height: 3rem;
}
.slider-numbers-container {
  display: flex;
  flex-direction: column;
}
.slider-numbers {
  display: flex;
  position: relative;
  align-self: flex-end;
  left: -0.1rem;
  top: -1rem;
  width: calc(100% - 7rem);
}
.slider-number1 {
  position: relative;
  left: 7%;
}
.slider-number2 {
  position: relative;
  left: 33%;
}
.slider-number3 {
  position: relative;
  left: 59%;
}
#fader {
  width: 100%;
}
#fader-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  margin-right: 1rem;
  width: 9.0625rem;
  height: 3.75rem;
  left: 47.625rem;
  top: 19.5rem;
  background: var(--secondary);
  color: white;
  border-radius: 1rem;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes in {
  from {
    opacity: 0;
    top: -40px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 10px;
  }
  .left {
    min-width: 300px;
    height: auto;
  }
  .left-container {
    width: 100%;
    max-width: 380px;
  }
  .section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
  }
  .right {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 50rem;
  }
  .card {
    margin-left: 3rem;
  }
  .slider-number2 {
    left: 38%;
  }
  .slider-number3 {
    left: 69%;
  }
  #h2 {
    margin: 0.9375rem 0rem !important;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 9px;
  }
  .nav {
    padding: 1rem 2rem;
  }
  .card {
    margin: 0;
  }
  .section {
    padding: 0;
    padding-left: 2rem;
  }
  .section {
    justify-content: flex-start;
  }
}

@media (max-width: 550px) {
  .nav {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
  }
  .card {
    margin: 0;
  }
  .section {
    padding: 0;
    padding-left: 2rem;
  }
  .slider-number2 {
    left: 35%;
  }
  .slider-number3 {
    left: 62%;
  }
  .section {
    align-items: flex-start;
  }
  .right {
    align-items: flex-start;
  }
}
@media (max-width: 420px) {
  .slider-number1 {
    left: 9%;
  }
  .slider-number2 {
    left: 33%;
  }
  .slider-number3 {
    left: 58%;
  }
}
